<!-- social bar -->
.app-social-bar
    .app-social-icons
        - var url = 'https://github.com/mi6softlab';
        a(href=url)
            div(class='app_social_icons smooth')
                div(class="github smooth")

        - var url = 'https://www.youtube.com/channel/UCmBeg1qkhRQp97l-gV7X9rA';
        a(href=url)
            div(class='app_social_icons smooth')
                div(class="youtube smooth")

        - var url = 'https://vimeo.com/mi6softlab';
        a(href=url)
            div(class='app_social_icons smooth')
                div(class="vimeo smooth")

        - var url = 'http://codepen.io/mi6softlab';
        a(href=url)
            div(class='app_social_icons')
                div(class='codepen smooth')

        - var url = 'https://www.behance.net/mi6softlab';
        a(href=url)
            div(class='app_social_icons')
                div(class='behance smooth')

        - var url = 'http://mi6softlab.deviantart.com';
        a(href=url)
            div(class='app_social_icons')
                div(class='devianart smooth')

    #app-rights
      | rights
